body {
    background-color:rgb(186, 228, 186);
    width:100%;
    height:100%;

}
.nav-container {
    background-color:rgb(207, 220, 189);
    padding:15px 0;
    position:sticky;
    border-top-style:solid;
    border-bottom-style:solid;
    border-width: 4.5px;
    border-color:rgb(3, 56, 21);
    top:0;
    z-index:100;
}
.nav-list {
    display:flex;
    list-style:none;
    position:sticky;
    justify-content:space-around;
    align-items: center;
    
}
.nav-list li a {
    text-decoration:none;
    color:rgb(18, 31, 34);
    font-size:20px;
    font-weight:bold;
    transition:0.3s;
}

.nav-list li a:hover{
    color:seagreen;
    font-weight:bold;
}
h1 {
    left:70%;
    text-align:center;
color:green;
    font-size: 80px;
    border-radius:12px;
    margin: 0;
    background: linear-gradient(to right, #a9d41a, #258e06);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2 {
    text-align:center;
    top:99%;
    left:67%;
    font-family:Arial, Helvetica, sans-serif;
}

.special-offers {
    text-align: center;
    font-size: 40px;
    animation-name: move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.layer{
    position:fixed;
    background-color:rgb(4, 40, 16);
    top:97px;
    left:0;
    width: 220px;
    height: 100vh;
    padding-top:20px;
}

.layer-heading {
    color:white;
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-style:none;
    text-align:center;
    padding-top:10%;
    text-decoration-color: aliceblue;
}

.sidebar-list{
    list-style:none;
    padding:10px;
    width:30%;
    margin:0;
    height:30%;
    display:flex;
    flex-direction:column;
    gap:20px;
    text-align:center;
   
    
}
.sidebar-list li a{
   text-decoration:none;
   color:white;
   display:block;
    font-size:20px;
    padding:20px;
    transition:0.4s;
}
.sidebar-list li a:hover{
    color:rgb(172, 200, 130);
}
.products {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:30px;padding:10px;
    position:relative;
}
.card {
    width:200px;
    height:300px;
    background-color:rgb(133, 201, 133);
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:10px;
    align-items:center;
    display:space-around;
    
}

.card:hover {
    transform:translateY(-8px);
}

.card img {
    width: 100%;
    height: 100px;   /* instead of 100% */
    object-fit: cover;
}

.card button {
    background:#3a6636ea;
    border:rgb(246, 246, 126);
    color:white;
    padding:10px;
    padding-bottom:12px;
    font-family: 'Times New Roman', Times, serif;
    font-size:16px;
    cursor:pointer;
    transition:0.4s;
}

.card button:hover {
    background:rgb(50, 71, 18);
    color:white;
}


.social-conatiner {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    padding:20px;
}
.social-conatiner a {
    text-decoration:none;
    color:rgb(18, 31, 34);
    font-size:20px;
    font-weight:bold;
    transition:0.3s;
}

.social-conatiner a:hover {
    color:seagreen;
    font-weight:bold;
}
.social-heading {
    text-align:center;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:rgb(18, 31, 34);
    margin:0;
    padding:20px;
    animation-name: move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.social-media-board{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:10px;
    padding:20px;
    list-style:none;
}


.social-icon {
    width: 40px;
    height: 40px;
   border-radius:12px;
   background-color:rgb(133, 201, 133);
    display:flex;
    flex-direction:column;
}
.social-media-board li a {
    text-decoration:none;
    color:rgb(18, 31, 34);
    font-size:20px;
    font-weight:bold;
    transition:0.3s;
    display:flex;
    list-style:none;
}


.login-form {
    background: rgb(228, 217, 217);
    padding: 40px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    box-align:center;
    justify-content:center;
}

.login-form input {
    position:static;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    position:relative;
}
.label {
    background-color:rgb(135, 197, 134);
    padding:10px;
    border-radius:10px;
    box-shadow: #9fbb43;
}

.cost {  
    background-color:rgb(196, 227, 195);
    padding:10px;
    border-radius:10px;
    cursor:none;
}

.submit {

    background-color:rgb(127, 202, 160);
    border-color:#9fbb43;
    border-radius:12px;
    padding:10px;
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
    cursor:pointer;
    transition:0.4s;
    padding-top:12px;
}
.login-page {
    justify-content:center;
    align-content: center;
    left:50%;
    top:50%;
    display:flex;
}